h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 10px;
}

.m1{
  margin:10px;
}
.m2{
  margin:20px;
}
.m3{
  margin:30px;
}
.m4{
  margin:40px;
}
.m5{
  margin:50px;
}

.mb1 {
  margin-bottom: 10px;
}
.mb2 {
  margin-bottom: 20px;
}
.mb3 {
  margin-bottom: 30px;
}
.mb4 {
  margin-bottom: 40px;
}
.mb5 {
  margin-bottom: 50px;
}

.pd1{
  padding: 10px;
}
.pd2{
  padding: 20px;
}
.pd3{
  padding: 30px;
}
.pd4{
  padding: 40px;
}
.pd5{
  padding: 50px;
}



.bs{
  border:1px solid black;
}

.textCenter{
  text-align:center;
}

.textLeft{
  text-align: left;
}

.textRight{
  text-align: right;
}

.blockCenter{
  margin:0 auto;
}

.blockW100P {
  width: 100%;
}
